.my-canvas {
  border: 1px solid;
  left: 50%;
}

.my-navbar {
  margin-bottom: 70px;
}

.my-timer {
  text-align: center;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}